#logo img {
    text-align: left;
}

header {
    text-align: center;
    text-decoration: underline;
    font-family: "Bebas Neue";
    font-size: 35pt;
    background-color:#6A0A8F;
    color:#30B000;
}
h2,h3,h4,h5,h6 {
    text-align: center;
    text-decoration: underline;
    font-family: "Bebas Neue";
    font-size: 27.5pt;
    background-color:#6A0A8F;
    color:#30B000;
}

h2 {
    margin: .1em;
}

body{
    background-color:#97B5E0;
}

#hero {
    text-align:center;
    color: #6039EB;
    font-family: "Righteous";
    font-size: 13.5pt;
}

#bio {
    text-align:center;
    color: #6039EB;
    font-family: "Righteous";
    font-size: 13.5pt;
}

section #hobbies {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#hobbies ul {
    border-style: dashed;
    border-color: #6A0A8F;
    height: 250pt;
    width: 275pt;
    border-radius: 30pt;
    margin: 0 auto;
    border-bottom: 20pt;
}

#hobbies ul li:nth-child(odd) {
    color: #6039EB;
    font-family: Righteous;
    font-size: 13.5pt;
    list-style-position:outside;
    list-style-type:circle;
    font-style:italic
    ;
}

#hobbies ul li:nth-child(even) {
    color: #106EB5;
    font-family: Righteous;
    font-size: 13.5pt;
    list-style-position:inside;
    font-variant: small-caps;
    font-weight: bolder;
    
}

#gallery {
    border-style: solid;
    border-color:#6A0A8F;
}

#gallery img {
    scale: 100%;
    border-style: dashed;
    border-color: #30B000;
    border-radius: 12.5%;
    border-width: 3.5pt;
}

#gallery figure {
    text-align:center;
    color: #6039EB;
    font-family: Righteous;
    font-size: 15pt;
}

#ending {
    color: #6039EB;
    font-family: Righteous;
    font-size: 16.5pt;
    background-color:#6A0A8F;
    color:#30B000;
    font-family: "Bebas Neue";
}

#lit {
    color: #6039EB;
    font-family: Righteous;
    font-size: 16.5pt;
    border-style: dotted;
    border-color: #30B000;
    border-radius: 2.5%;
    border-width: 2.5pt;
    padding: 20pt;

}

#myVideo {
    margin-top: 3rem;
    width:100%;
    display:block;
    position: relative;
    text-align: center;
    color:#6039EB;
    font-family: Righteous;
    font-size: 12pt;
    padding-bottom: 1rem;
}

#formElements {
    display:grid;
    row-gap:0.5em;
}

.contact {
    padding: 1rem;
    max-width: 600px;
    margin: 2rem auto;
}

fieldset {
    border: 2px dashed #30B000;
    margin-top:1em;
    margin-bottom:1em;
    border-radius: 2em;
}

legend {
    background-color:#30B000;
    border-color: #30B000;
    color: #6A0A8F;
    padding:0.5em;
    font-family: "Righteous";
    text-align: center;
    border-radius: 2em;
}

#contactForm input, #contactForm textarea, #contactForm select, #contactForm button {
    padding:0.5em;
    font-size:1rem;
}

#messageBack ul {
list-style:none;
padding:0px;
}

#messageBack li{
    margin: 1rem;
}

#contactForm button {
    background-color: #6A0A8F;
    color:#30B000;
    border: 2px solid #30B000;
    max-width:400px;
    width:50%;
    justify-self: center; 
    font-family: "Righteous";
    border-radius: 1.5em;
}

#contactForm label{
    color:#6A0A8F;
    font-family: "Righteous";
    text-decoration: underline;
}


footer {
    font-size: 10.5pt;
    color:#6A0A8F;
}

@media screen and (min-width: 60em)  {
    figure {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }

    figcaption {
    display: flex;
    justify-content: column;
    align-items: center;
    font-size: 2rem;
    margin-left: 1.5rem;
    text-align: left;
    }

    figure img {
        width: 100%;
    }

    #lit div {
        max-width: 100%;
        columns: 20rem;
    }
    
}

@media screen and (min-width: 100em)  {
#gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

hr{
    display: none;
}

#gallery h2 {
    grid-column: 1/-1;
}
figure {
    display: block;
}

}