/* logo styling */
#logo img {
    text-align: left;
}

/* header styling */
header {
    text-align: center;
    text-decoration: underline;
    font-family: "Bebas Neue";
    font-size: 35pt;
    background-color:#6A0A8F;
    color:#30B000;
}

#navbar {
    border-bottom: 1px solid;
}

.menu{
    position:absolute;
    cursor:pointer;
    text-align: right;
    margin:-15.75rem -14.5rem;
    right:0;
    scale: 10%;
    fill:#30B000;

}


.close {
display:none;
position:absolute;
cursor:pointer;
text-align: right;
margin:-15.75rem -14.5rem;
right:0;
scale: 10%;
fill:#30B000;
}

.navbox {
    display: none;
}

#navbox menu {
    display:flex;
    flex-direction: column;
    gap:2rem;
    align-items: center;
    margin:1rem;

}

.navbar li {
    list-style: none;
    display:none;
}

.navbar ul li :first-child {
    margin-right: auto;
    display:block;
}

.navbar ul a {
    text-decoration: none;
    color:inherit;
    font-size: 1.5rem;
}

#navbar svg {
    width:1.5rem;
    fill: #30B000;
}




/* animation for avatar */
@keyframes float {
    0% {
        transform: translatey(0px); 
    }
    50% {
        transform: translatey(-22.5px); 
    }
    100% {
        transform: translatey(0px); 
    }


}

#hero img {
    animation: float 4.5s ease-in-out infinite;
}

/* styling for smaller headers*/
h2,h3,h4,h5,h6 {
    text-align: center;
    text-decoration: underline;
    font-family: "Bebas Neue";
    font-size: 27.5pt;
    background-color:#6A0A8F;
    color:#30B000;
}

/* styling for h2 */
h2 {
    margin: .1em;
}

/* background color of webpage */
body{
    background-color:#97B5E0;
}

/* hero section sytling */
#hero {
    text-align:center;
    color: #6039EB;
    font-family: "Righteous";
    font-size: 13.5pt;
}

/* styling biography */
#bio {
    text-align:center;
    color: #6039EB;
    font-family: "Righteous";
    font-size: 13.5pt;
}

/* styling the general elements of hobbies section */
section #hobbies {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* styling p section of hobbies */
#hobbies p {
    color: #6039EB;
    font-family: Righteous;
    font-size: 13.5pt;
    text-align: center;
    padding-left: 1.25em;
    padding-right: 1.25em;
}

/* general list styling for hobbies section */
#hobbies ul {
    border-style: dashed;
    border-color: #6A0A8F;
    height: 130pt;
    width: 275pt;
    border-radius: 30pt;
    margin: 0 auto;
    border-bottom: 20pt;
}

/* styling odd elements in the hobbies list */
#hobbies ul li:nth-child(odd) {
    color: #6039EB;
    font-family: Righteous;
    font-size: 13.5pt;
    list-style-position:outside;
    list-style-type:circle;
    font-style:italic
    ;
}

/* styling even elements in the hobbies list */
#hobbies ul li:nth-child(even) {
    color: #106EB5;
    font-family: Righteous;
    font-size: 13.5pt;
    list-style-position:inside;
    font-variant: small-caps;
    font-weight: bolder;
    
}

/* styling general elements in gallery section */
#gallery {
    border-style: solid;
    border-color:#6A0A8F;
}

/* styling the images in the hobbies section */
#gallery img {
    scale: 100%;
    border-style: dashed;
    border-color: #30B000;
    border-radius: 12.5%;
    border-width: 3.5pt;
}

/* animating a hover effect for the images in the gallery section*/

@keyframes hover-gif {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.01);
    }
  }

#gallery img:hover {
    animation:hover-gif .1s ease-in-out;
    animation-fill-mode: forwards;
  }

/* styling the figure section in the gallery*/
#gallery figure {
    text-align:center;
    color: #6039EB;
    font-family: Righteous;
    font-size: 15pt;
}

/* styling the lit section on the webpage */
#lit {
    color: #6039EB;
    font-family: Righteous;
    font-size: 16.5pt;
    border-style: dotted;
    border-color: #30B000;
    border-radius: 2.5%;
    border-width: 2.5pt;
    padding: 20pt;

}

/* styling the video section */
#myVideo {
    margin-top: 3rem;
    margin-bottom:3em;
    margin: auto;
    display:block;
    text-align: center;
    color: #6039EB;
    font-family: Righteous;
    font-size: 13.5pt;
}

/* contact form styling */
#formElements {
    display:grid;
    row-gap:0.5em;
}

.contact {
    padding: 1rem;
    max-width: 600px;
    margin: 2rem auto;
}

fieldset {
    border: 2px dashed #30B000;
    margin-top:1em;
    margin-bottom:1em;
    border-radius: 2em;
}

/* styling legends section in the contact form */
legend {
    background-color:#30B000;
    border-color: #30B000;
    color: #6A0A8F;
    padding:0.5em;
    font-family: "Righteous";
    text-align: center;
    border-radius: 2em;
}

/* styling text boxes and general buttons on the contact form */
#contactForm input, #contactForm textarea, #contactForm select, #contactForm button {
    padding:0.5em;
    font-size:1rem;
}

#messageBack ul {
list-style:none;
padding:0px;
}

#messageBack li{
    margin: 1rem;
}

/* styling the submit button on the contact form */
#contactForm button {
    background-color: #6A0A8F;
    color:#30B000;
    border: 2px solid #30B000;
    max-width:400px;
    width:50%;
    justify-self: center; 
    font-family: "Righteous";
    border-radius: 1.5em;
}

/* styling label section in the contact form */
#contactForm label{
    color:#6A0A8F;
    font-family: "Righteous";
    text-decoration: underline;
}

/* animating the submit button on the contact form */
@keyframes wiggle {
    0%, 40%, 80% {transform: rotate(3deg);}
    20%, 60% , 100% {transform: rotate(-3deg);}
  }
  
  #contactForm button:hover {
    animation: wiggle 2s ease-in-out infinite;
  }

/* styling footer section */
footer {
    font-size: 10.5pt;
    color:#6A0A8F;
    font-family: "Righteous";
}

/* media query for different screen sizes and breakpoints */
@media screen and (min-width: 60em)  {
    figure {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }

    figcaption {
    display: flex;
    justify-content: column;
    align-items: center;
    font-size: 2rem;
    margin-left: 1.5rem;
    text-align: left;
    }

    figure img {
        width: 100%;
    }

    #lit div {
        max-width: 100%;
        columns: 20rem;
    }
    
}

@media screen and (min-width: 100em)  {
#gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

hr{
    display: none;
}

#gallery h2 {
    grid-column: 1/-1;
}
figure {
    display: block;
}

}